@charset "utf-8";
#Wrapper {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width: 980px;
	background-color: #CCCCCC;
}

#Header {
	height: 172px;
	width: 980px;
}
#NavContainer {
	height: 35px;
	background-image: url(../image/background_grd_2.jpg);
	background-repeat: repeat-x;
	clear: both;
}
.LeftPanel {
	padding: 10px;
	float: left;
	width: 180px;
	height: auto;
	background-color: #CCCCCC;
}
.RightContent {
	background-color: #FFF;
	padding: 10px;
	float: right;
	width: 760px;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.Title {
	font-family: Verdana, Geneva, sans-serif;
	color: #092B6A;
	font-weight: bold;
	font-size: 14px;
	line-height: 120%;
	text-align: left;
}
a:hover {
	color: #999;
}

#FlyData {
	background-color: #286CE7;
	height: 20px;
	clear: both;
	color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
}
#footer {
	height: 40px;
	background-image: url(../image/footer.jpg);
	clear: both;
}
#Banner {
	background-image: url(../image/banner.jpg);
	height: 137px;
	width: 980px;
}
body {
	background-image: url(../image/background_grd_1.jpg);
	background-repeat: repeat-x;
}
ul#topnav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	font-size: 15px;
}
#Contentbox {
}
#topnav li{
	margin: 0;
	padding: 0;
	overflow: hidden;  /*--Important - Masking out the hover state by default--*/
	float: left;
	height:40px;
}
#topnav a, ul#topnav span { /*--The <a> and <span> share the same properties since the <span>  will be a duplicate of the <a> tag--*/
	padding: 10px;
	float: left;
	text-decoration: none;
	color: #FF0;
	clear: both;
	height: 20px;
	line-height: 20px; /*--Vertical alignment of text--*/
}
#topnav a{ /*--This is basically the hover state of navigation--*/
	color: white;
	background-position: left bottom;
}
#topnav span{ /*--Default state of navigation--*/
	background-position: left top;
}
#loginbox {
	width: 410px;
	background-color: #E7E6DD;
	padding: 10px;
	font-size: 12px;
}
